<div class="contenedor_agregar">
    <div class="contenedor_salir">
        <p class="saludo_novedades"><a class="salir"
                href="/admin/novedades"> Salir <i class="fas
                    fa-sign-out-alt"></i></a></p>
    </div>
    <div> &nbsp; </div>
    <div class="container" id="agregar">
        <div class="row">
            <div class="col-7">
                <h3 class="titulo_agregar">Modificar las Novedades</h3>
                <form action="/admin/novedades/modificar_novedades"
                    method="post" enctype="multipart/form-data">
                    <input type="hidden" value="{{novedad.id}}"
                        name="id">
                    <div class="mb-3 row">
                        <input type="text" class="form-control"
                            placeholder="Titulo"
                            value="{{novedad.titulo}}"
                            name="titulo">
                    </div>
                    <div class="mb-3 row">
                        <textarea type="text" class="form-control"
                            placeholder="Subtitulo"
                            name="subtitulo">{{novedad.subtitulo}}</textarea>
                    </div>
                    <div class="mb-3 row">
                        <textarea type="text" class="form-control"
                            placeholder="Cuerpo"
                            name="cuerpo">{{novedad.cuerpo}}</textarea>
                    </div>
                    <div class="mb-3 row">
                        <label> Imagen: <input type="file" class="form-control"
                                placeholder="Imagen" name="imagen" id="imagen">
                        </label>
                    </div>
                    <div class="mb-3 row">
                        <p>
                            <label>
                                <input type="checkbox" name="img_delete" id="img_delete" value="1">
                                Eliminar imagen actual </label>
                            <input type="hidden" name="img_original"
                                value="{{novedad.img_id}}">
                        </p>
                    </div>
                    <div class="boton_guardar">
                        <button type="submit" class="btn btn-primary">Modificar</button>
                    </div>
                </form>
                {{#if error}}
                <div class="mensaje_error">
                    <p class="mensaje_error_p">{{message}}</p>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div> &nbsp; </div>
</div>
