<div class="contenedor_novedades">
    {{!-- fila 1 --}}
    <div class="contenedor_salir">
        <p class="saludo_novedades"> Hola {{persona}} ! <a class="salir"
                href="/admin/menu_ppal"> Salir <i class="fas
                    fa-sign-out-alt"></i></a></p>
    </div>
    {{!-- fin fila 1 --}}
    {{!-- fila 2 --}}
    <div class="titulo_novedades">
        <div class="row">
            <div class="col-6">
                <h3> Trabajos Realizados / Contacto </h3>
            </div>
        </div>
    </div>
    {{!-- fin fila 2 --}}
    {{!-- fila 3 --}}

    <div class="tabla_resultados">
        <div class="row">
            <dir class="col">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col"> Instrumentación & Electricidad </th>
                            <th scope="col"> Automatización & Control </th>
                            <th scope="col"> Prototipos & Sistemas Embebidos </th>
                            <th scope="col"> Programación it </th>
                            <th scope="col"> Dirección   </th>
                            <th scope="col"> Cp </th>
                            <th scope="col"> Teléfono </th>
                            <th class="text-end">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each trabajosrealizados}}
                        <tr>
                            <th scope="row">{{instrumentacion_electricidad}}</th>
                            <th scope="row">{{automatizacion_control}}</th>
                            <th scope="row">{{prototipos_sistemas_enbebidos}}</th>
                            <th scope="row">{{programacion_it}}</th>
                            <th scope="row">{{direccion}}</th>
                            <th scope="row">{{cp}}</th>
                            <th scope="row">{{telefono}}</th>
                            <td class="text-end"> <a href="/admin/trabajos_realizados/modificar_trabajos_realizados" class="btn btn-sm
                                    btn-secondary"><i class="fa fa-pencil"></i></a>

                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </dir>
        </div>
    </div>
    <div> &nbsp; </div>
    {{!-- fin fila 3 --}}

</div>

